main{
    width: 300px;
}

article{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

article .elemek{
    background-color: royalblue;
    border: 1px solid black;
    border-radius: 10%;
    width: 80px;
    height: 80px;
    
}

.infopanel{
    border: 1px solid black;
    width: 250px;
    height: 40px;
    border-radius: 8%;
}